/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html , body {
    font-size: 1em;
    line-height: 1.4;
	width: 100%;
	height: 100%; 
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
	width: 100%;
	height: 100px;
	background: #CAA;
}

header p {
	margin: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-top: 35px;
	color: #EEE;
	font-size: 40px;
	text-align: right;
	text-shadow: 1px 2px 8px rgba(150, 150, 150, 1);
}


footer {
	position:absolute;
	bottom:0;
	width: 100%;
	height: 60px;
	background: #A99;
}

footer p {
	margin: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-top: 20px;
	color: #EEE;
	font-size: 15px;
	text-align: right;
	text-shadow: 1px 2px 8px rgba(150, 150, 150, 1);
}

footer p a {
	color: white;
}

div#main {
	width: 100%;
	background: white;
}

div#picturebox {
    position: absolute;
	width: 100%;
	background: white;
	height: auto;
	top: 100px;
	bottom: 60px;
	background-repeat:no-repeat;
	background-size:auto 100%;
	background-position: center top;
}

div#timer {
	position: absolute;
	right: 10px;
	bottom: 20px;
	width: 128px;
}

div#reddit {
	color: white;
	position: absolute;
	left: 20px;
	top: 20px;
}

div#overlay {
	width:100%;
	float: left;
	height: 100%;
	background: white;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.18) 47%, rgba(255,255,255,0.15) 49%, rgba(255,255,255,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.85)), color-stop(47%,rgba(255,255,255,0.18)), color-stop(49%,rgba(255,255,255,0.15)), color-stop(100%,rgba(255,255,255,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.18) 47%,rgba(255,255,255,0.15) 49%,rgba(255,255,255,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.18) 47%,rgba(255,255,255,0.15) 49%,rgba(255,255,255,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.18) 47%,rgba(255,255,255,0.15) 49%,rgba(255,255,255,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.18) 47%,rgba(255,255,255,0.15) 49%,rgba(255,255,255,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=0 ); /* IE6-9 */
	transition: 1s;
}

div#overlay p {
	text-align: center;
	font-size:50px;
	color:#000;
	text-shadow:1px 1px 0 #fff,
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	0px 1px 0 #fff,
	1px 0px 0 #fff,
	0px -1px 0 #fff,
	-1px 0px 0 #fff,
	4px 4px 3px #000;
	font-family:Verdana, Geneva, sans-serif;
}

div#wrapper {
	min-height: 100%;
	height:     100%;
	margin-bottom: -60px;
}

#optionsbutton {
	float: left;
	position: relative;
	top: 25px;
	left: 45px;
	font-size: 35px;
	color: #777;
	transition: all 0.25s linear;
}

#optionsbutton i {
	transition: all 0.25s linear;
}

#optionsbutton :hover{
	text-shadow: 1px 1px 7px rgba(150, 150, 150, 1);
}

#options {
	padding: 10px;
	background: #EEE;
}

.start {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.startbutton {
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow:inset 0px 1px 0px 0px #a6eb9b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6eb9b;
	box-shadow:inset 0px 1px 0px 0px #a6eb9b;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5acc2d), color-stop(1, #569e1b) );
	background:-moz-linear-gradient( center top, #5acc2d 5%, #569e1b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5acc2d', endColorstr='#569e1b');
	background-color:#5acc2d;
	-webkit-border-radius:21px;
	-moz-border-radius:21px;
	border-radius:21px;
	text-indent:0;
	border:2px solid #83c41a;
	display: block;
	color:#ffffff;
	font-family:Verdana;
	font-size:23px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:165px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.startbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #569e1b), color-stop(1, #5acc2d) );
	background:-moz-linear-gradient( center top, #569e1b 5%, #5acc2d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#569e1b', endColorstr='#5acc2d');
	background-color:#569e1b;
}
.startbutton:active {
	position:relative;
	top:1px;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}